/*
 * Footnote styles.
 */



.footnotes ol {
    counter-reset: li;
    list-style: none;

    li {
        position: relative;

        &:before {
            content: counter(li);
            counter-increment: li;
            position: absolute;
            left: -1.3em;
            top: -0.1em;
            font-size: 0.8em;
        }
    }
}
