/*
 * Static page hero images.
 */



.md-hero {
    height: $md-hero-height;
    padding: 0;
    margin: 0;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    width: 100%;
    position: fixed;
    top: 0;
    opacity: 1;
    z-index: -1;
    @include transition(all 0.2s ease);

    @media all and (max-width: $screen-sm-max) {
        height: 300px;
        position: relative;
    }
}

.md-hero h1 {
    color: $clr-white;
    font-weight: 900;
    position: absolute;
    bottom: 50px;
    font-weight: bold;
    font-family: $font-family-alt;

    @media all and (max-width: $screen-sm-max) {
        font-size: 36px;
    }
}

.md-hero-wrap {
    background: $clr-white;
    margin-top: $md-hero-height;
    position: relative;

    @media all and (max-width: $screen-sm-max) {
        margin-top: 0px;
    }
}
