/*
 * Horizontal item listing.
 */



.horizontal-listing {
    padding-bottom: 40px;
    text-align: center;

    .horizontal-listing-item-twitter {
        margin-top: 20px;
    }

    @media all and (max-width: $screen-sm-max) {
        padding-bottom: 0;

        .horizontal-listing-item {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            margin-bottom: 40px;
            padding-bottom: 30px;

            p, h3 {
                text-align: left;
            }
        }

        .horizontal-listing-item-wrap:last-child .horizontal-listing-item {
            border: none;
            padding-bottom: 0;
        }
    }
}

.horizontal-listing .horizontal-listing-date {
    font-size: 12px;
    color: $clr-blue;
}

.horizontal-listing h3 {
    font-weight: bold;
    font-size: 20px;

    em {
        font-weight: normal;
        font-style: normal;
    }

    a {
        color: $clr-blue;
        @include transition(all 0.4s ease);

        &:hover {
            color: $clr-dark-blue;
            text-decoration: none;
        }
    }
}

.horizontal-listing .cover {
    width: 50%;
    height: 0;
    padding: 0 0 72% 0;
    margin-top: 0px;
    margin-bottom: 30px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    background-size: cover;

    @media all and (max-width: $screen-sm-max) {
        float: right;
        width: 25%;
        padding: 0 0 35.5% 0;
        margin: 0 0 20px 20px;
    }
}
