/*
 * Reusable colour classes.
 */



.clr-consulting {
    color: $clr-consulting;
}

.clr-research {
    color: $clr-research;
}

.clr-proprietary {
    color: $clr-proprietary;
}

.bg-dark-grey {
    background-color: $clr-dark-grey;
}

.bg-blue {
    background-color: $clr-blue;
}

.bg-dark-blue {
    background-color: $clr-dark-blue;
}

.bg-dark {
    background-color: $clr-dark;
}

.bg-dark-green {
    background-color: $clr-dark-green;
}
